.container {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

p {
    font-size: larger; 
    text-align: left;
    padding: 10px 20px 0px 20px;
}

h1 {
    font-size: 2rem;
}

input {
    width: 90%;
    font-size: larger;
    padding: 12px 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

.form-group {
    padding: 0px;
}
.form-group button {
    font-weight: bold;
    margin-left: 20px;
    padding: 12px 20px;
    width: 90%;
}

a {
    color: #18A0FB;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.backLink {
    color: #18A0FB;
    text-align: center;
}

footer {
    background-color: #d3d3d3;
    color: #576574;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #18A0FB;
}
