* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    color: #333;
    position: relative;
    z-index: 1;
}

.sidebar {
    background-color: #333;
    color: white;
    width: 20vw;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100vh;
}

.sidebar .logo img {
    width: 100%;
    max-width: 20vw;
    margin-bottom: 5vh;
}

.menu {
    list-style: none;
    width: 100%;
}

.menu li {
    margin-bottom: 2vh;
}

.menu button {
    font-size: 2.5vh;
    font-weight: bold;
    width: 100%;
    padding: 1.5vh;
    color: #333;
    background-color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 1vh;
}

.menu button:hover {
    transform: scale(1.1);
    background-color: #18A0FB;
    color: white;
}

.navbar {
    width: 80vw;
    background-color: white;
    color: #18A0FB;
    box-shadow: 0 0 0.2vh black;
    margin-left: 20vw;
    padding: 2vh 2vw;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.profile a img {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
}

.main-content {
    flex: 1;
    padding: 80px 20px 20px 270px;
    background-color: white;
    overflow-y: auto;
}

.forum-section {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.forum-section h2, .forum-section h3 {
    color: #333;
    margin-bottom: 15px;
}

.forum-categories ul, .forum-threads ul {
    list-style: none;
    padding: 0;
}

.forum-categories ul li button {
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
    background-color: #18A0FB;
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
}

.forum-categories ul li button:hover {
    background-color: #1071B1;
}

.forum-threads ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.forum-threads ul li h4 {
    font-size: 18px;
    color: #18A0FB;
    margin-bottom: 5px;
}

.forum-search, .new-thread {
    margin-top: 15px;
}

.forum-search input[type="text"], .new-thread input[type="text"], .forum-search button, .new-thread button, .new-thread select {
    padding: 8px;
    margin-right: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.new-thread button, .forum-search button {
    background-color: #18A0FB;
    color: white;
    border: none;
    cursor: pointer;
}

.new-thread button:hover, .forum-search button:hover {
    background-color: #1071B1;
}
