* {   
    margin: 0;
    padding: 0;
}

.viewer{
    padding: 20px;
}

.content{
    margin: 20px;
    padding: 5px;
    width: 90%;
    border-radius: 10px;
    height: auto;
    overflow: scroll;
    border: 1px solid #ffffffab;
    box-shadow: 5px 5px 10px rgb(133, 133, 133);
}
p {
    padding: 0px 0px 0px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
}

.viewSpace{
    /*margin: 20px;*/
    margin-left: 40px;
    padding: 5px;
    border-radius: 20px;
    width: 90%;
    height: auto;
    background-color: rgb(221, 219, 219);
    border: 1px solid #d8d8d8;
}

#hiddenView{
    display: none;
    position: absolute;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px;
    border-radius: 20px;
    width: 80%;
    height: auto;
    /*background-color: rgb(221, 219, 219);
    border: 1px solid #d8d8d8;*/
    background-color: #fffefe21;
    border: 1px solid #00ffd5;
}

.forum_th{
    text-align: left;
}

table{
    margin: 20px 0px 20px 0px;
}