* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}


/*---------------header*/

/* Navbar  */
.navbar {
    width: 100%;
    background-color: white;
    color: #18A0FB;
    box-shadow: 0 0 2px black ;
    
}

.Hcontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo  */
.header_logo img {
    height: 75px;
}

/* Navigation Links  */
.header_item {
    list-style: none;
    display: flex;
}

.header_item li {
    margin-left: 15px;
}

.header_item a {
    padding: 5px 10px 5px 10px;
    border-radius: 7px;
    color: #18A0FB;
    font-size: 1em;
    text-decoration: none;

}

/* Menu Toggle Button  */
.menu_toggle {
    display: none;
}

.menu_toggle img {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Add Border to Login Class */
li.Login a {
    padding: 5px 20px 5px 20px;
    border: 1px solid #18A0FB;
}
li.Register a{
    padding: 5px 20px 5px 20px;
    border: 1px solid #18A0FB;
}

.header_item a:hover{
    background-color: rgb(215, 236, 255);    
    color: #18A0FB;
}


/*fotter-----------------*/

footer{
    box-shadow: 0 0 2px  black;
    justify-content: center;
    display: flex  ;
    color: #18A0FB;
    width: 100%;

}

.Flinks{
    display: flex  ;
    flex-direction: row;
    justify-content:  space-between ;
}
.Flogo img{
    width: 250px;
}

.Flink ul{
    list-style: none;
    padding-right: 150px;
}

.Flink{
    display: flex;
    flex-direction: row;    
}

.Fitem a{
    font-size: 1em;
    text-decoration: none;
    color: #18A0FB;

}

.Fcontainer{
    width: 1200px;
    display: flex;
    justify-content: left;
    padding: 20px;
    flex-direction: column;
}

.Fheading{
    padding: 10px;
}

.Fcopyright{
text-align: center;
}








/*section-----------------*/

section{

    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;

}
.title{
    box-shadow: 0 0 2PX black;
    background-color: #D9D9D9;
}

.Scontainer{
    display: flex;
    height: 120px;
    width: 1200px;
    padding-left: 20px;
    padding-bottom: 20px;
    justify-content: flex-start;
    align-items: flex-end;
}

.Scontainer h1{
    text-decoration: underline;
    justify-content: center;

}

.Kcontainer{
    max-width: 1200px;
    display: flex;
    padding: 20px 20px;
    gap: 20px;
    align-items: center;
    flex-direction: row;
}

.Kcontainer a{
    text-decoration: none;
    color: black;
}

.kcard{
    padding: 20px;
    gap: 20px;
    display: flex;
    border: 2px solid black;
    align-items: center;
    width: 270px;
    height: 300px;
    border-radius: 20px;
    flex-direction: column;
}





/* Responsive r*/
@media (max-width: 900px) {
    .header_item {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .header_item.active {
        display: flex;
    }
    .menu_toggle {
        display: flex;
    }
    .menu_toggle img {
        display: flex;
    }
    .header_item li {
        text-align: center;
        margin: 10px 0;
    }
    .Flinks{
        flex-direction: column;
    }
    .Flink{
        flex-direction: column;
        
    }
    .Kcontainer{
        
        flex-direction: column;

    }
}

/*news head*/
#one{
    border: 0px solid;
    background-color: #D9D9D9;
    padding: 50px;
    font-size: 50px;
}