/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
}

.blurry-background {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/logo.png"); /* Adjust the path as needed */
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(10px);
    z-index: -1;
}

/* Main Section */
main {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.form-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}

/* Sign-up Section */
.sign-up {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.sign-up-btn {
    background-color: #18A0FB;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.sign-up-btn:hover {
    background-color: #0e7ac4;
}

label {
    display: block;
    margin-top: 20px;
    text-align: left;
}

input[type="email"], input[type="password"], input[type="text"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex: 1;
}

.form-group label {
    margin-right: 15px;
}

/* Gender and Sign-in Selection */
.gender-selection, .sign-in-as {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}

.gender-selection input[type="radio"], .sign-in-as input[type="radio"] {
    margin-right: 10px;
    margin-top: 10px;
}

.gender-selection label, .sign-in-as label {
    margin-right: 30px;
    margin-top: 10px;
}

/* Footer */
.footer {
    background-color: #d3d3d3;
    color: #576574;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #18A0FB;
    padding: 10px 0;
}

/* Responsive Design */
@media (max-width: 900px) {
    .form-section {
        flex-direction: column;
    }

    .sign-up {
        width: 100%;
    }
}
