*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container {
    background: linear-gradient(to top, #ffecb0, #fff3cd, #fff7dc, #fffae8);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.781);
    overflow: hidden;
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: row;
    transition: transform 0.2s ease-in-out;
}

.loginImg{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 15px 25px 25px 15px;
    width: 100%;
    height: 95%;
    background-size: cover;
}

.conLeft {
    width: 40%;
    height: auto;
}

.conRight {
    /*background-color: #576574;*/
    width: 60%;
    padding-right: 1%;
    height: auto;
}
/*.container:hover{
    transform: scale(1.4);
}*/

.form-header {
    /*background-color: #18A0FB;*/
    font-size: larger;
    color: #000000;
    text-align: left;
    margin-left: 10%;
    padding-top: 20%;
    padding-left: 20px;
    padding-right: 20px;
}

.form-group {
    align-items: center;
    align-content: center;
    padding: 15px 20px 5px 20px;
}

.showp {
    padding: 0px 0px 5px 20px;
}

.showp label {
    font-size: larger;
    display: inline;
    margin-bottom: 8px;
    color: #333;
}


.form-group input {
    width: 80%;
    font-size: larger;
    padding: 12px 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
}

.form-group button {
    font-family: 'Segoe UI';
    background-color: #ffffff;
    color: #18A0FB;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    width: 80%;
    cursor: pointer;
    font-size: larger;
}

.form-group button:hover {
    color: #ffffff;
    background-color: #18A0FB;
}

.form-footer {
    text-align: center;
    padding: 20px;
}

.form-footer a {
    color: #18A0FB;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}
footer {
    background-color: #d3d3d3;
    color: #576574;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #18A0FB;
}

.blurry-background{
    width: 100vw;
    height: 100vh;
    background-image: url("images/logo.png");
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(10px);
    z-index: -1;
}

p {
    font-size: larger;;
}