body {
    font-family: 'Segoe UI', 'cursive';
    background-color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container {
    background-color: #ececec;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 50%;
    display: flex;
    flex-direction: row;
    transition: transform 0.2s ease-in-out;
}

.loginImg{
    width: 60%;
    height: 60%;
    padding-top: 25%;
}

.conRight {
    width: 50%;
    height: auto;
}

.conLeft {
    width: 50%;
    height: auto;
}
/*.container:hover{
    transform: scale(1.4);
}*/

.form-header {
    /*background-color: #18A0FB;*/
    font-size: larger;
    color: #000000;
    text-align: center;
    padding: 20px;
}

.form-group {
    align-items: center;
    align-content: center;
    padding: 15px 20px 5px 20px;
}

.showp {
    padding: 0px 0px 5px 20px;
}

.showp label {
    display: inline;
    margin-bottom: 8px;
    color: #333;
}


.form-group input {
    width: 80%;
    font-size: larger;
    padding: 12px 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

.form-group button {
    font-family: 'Segoe UI';
    background-color: #ffffff;
    color: #18A0FB;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    width: 80%;
    cursor: pointer;
    font-size: larger;
}

.form-group button:hover {
    color: #ffffff;
    background-color: #18A0FB;
}

.form-footer {
    text-align: center;
    padding: 20px;
}

.form-footer a {
    color: #18A0FB;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}
footer {
    background-color: #d3d3d3;
    color: #576574;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #18A0FB;
}

.blurry-background{
    width: 100vw;
    height: 100vh;
    background-image: url("images/logo.png"); /* Adjust the path as needed */
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(10px);
    z-index: -1;
}