body {
    font-family: 'Segoe UI', 'cursive';
    background-color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container {
    background-color: #ececec;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    transition: transform 0.2s ease-in-out;
}

/*.container:hover{
    transform: scale(1.4);
}*/

.form-header {
    background-color: #18A0FB;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.form-group1 {
    padding: 20px 20px 5px 20px;
}
.form-group2 {
    padding: 15px 20px 5px 20px;
}
.showp {
    padding: 0px 0px 5px 20px;
}
.form-group1 label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}
.form-group2 label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}
.showp label {
    display: inline;
    margin-bottom: 8px;
    color: #333;
}


.form-group1 input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-group2 input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group button {
    font-family: 'Segoe UI';
    background-color: #18A0FB;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #18A0FB;
}

.form-footer {
    text-align: center;
    padding: 20px;
}

.form-footer a {
    color: #18A0FB;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}
footer {
    background-color: #d3d3d3;
    color: #576574;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #18A0FB;
}

.blurry-background{
    width: 100vw;
    height: 100vh;
    background-image: url("images/logo.png"); /* Adjust the path as needed */
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(10px);
    z-index: -1;
}