.form-top{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.form-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.form-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
    margin-left: 100px;
}

#message{
    width: 500px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 100px;
}

#reply{
    height: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.scrollable-panel{
    margin-left: 100px;
}