.container {
    width: 73%;
    background-color: #afafaf;    
    height: 600px;
    margin-left: 22%;
    margin-top: 80px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 80px 170px rgba(1.0, 1.0, 1.0, 1.0);
}

.description {
    width: 90%;
    height: 400px;
    display: flex;
    gap: 30px;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 1.5em;
}

.review{
    width: 90%;
    display: flex;
    gap: 50px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    }

.review a{
    display: block;
    padding: 10px;
    border-radius: 10px;
    color: rgb(255, 0, 0);
    font-size: 1.5em;
    text-decoration: none;
    border: 5px solid #65d8ff;
    width: 100px;
}

.container label {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

.ulbutton{
    display: flex;
    gap: 30px;
}