* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundimage {
    width: 100vw;
    height: 100vh;
    background-image: url("../Images/background.jpg");
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(10px);
    z-index: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    color: #333;
    position: relative;
    z-index: 1;
}

.sidebar {
    background-color: #333;
    color: white;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100vh;
}

.sidebar .logo img {
    width: 100%;
    max-width: 150px;
    margin-bottom: 20px;
}

.menu {
    list-style: none;
    width: 100%;
}

.menu li {
    margin-bottom: 10px;
}

.menu button {
    width: 100%;
    padding: 10px;
    color: #333;
    background-color: #fff;
    border: none;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.menu button:hover {
    transform: scale(1.1);
    background-color: #18A0FB;
    color: white;
}

.profile button {
    width: 100%;
    padding: 10px;
    color: #333;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.profile button:hover {
    transform: scale(1.1);
    background-color: #18A0FB;
    color: white;
}

.navbar {
    width: calc(100% - 250px);
    background-color: white;
    color: #18A0FB;
    box-shadow: 0 0 2px black;
    margin-left: 250px;
    padding: 10px 20px;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar a {
    color: #18A0FB;
    text-decoration: none;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 7px;
}

.navbar a:hover {
    background-color: rgb(215, 236, 255);
}

.main-content {
    flex: 1;
    padding: 80px 20px 20px 270px;
    background-color: white;
    overflow-y: auto;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    height: 200px;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    background-color: #18A0FB;
    color: white;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: 0;
}

.card h3 {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 18px;
}
