th{
    text-align: left !important;
}

#hiddenView{
    width: 40%;
    margin-left: 20% !important;
}

#hiddenViewDetails{
    font-size: 1.2rem;
    width: 80%;
    margin: 0 10% 0 10%;
}

.hiddenViewContent {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5%;
}

#hiddenViewActions {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

#deteHead{
    font-weight: bold;
    color: rgb(48, 48, 48);
    width: 35%;
    margin-top: 2.5%;
    margin-right: 2.5%;
}

.detes{
    color: black;
    margin-top: 2.5%;
}

#hiddenViewActions .accept{
    height: auto !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border: 1px solid rgb(3, 202, 3) !important;
}
#hiddenViewActions .del{
    height: auto !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border: 1px solid red !important;
}

hr{
    width: 80%;
    margin: 0 auto;
    background-color: rgba(97, 97, 97, 0.123); 
    border: none;
    height: 1px;
}

#closeView{
    margin: 0 2% 0 0 !important;
}