#hiddenView{
    display: none;
    position: absolute;
    z-index: 3;
    margin-left: 25%;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    height: auto;
    /*background-color: rgb(221, 219, 219);*/
    background-color: #ffffff;
    /*border: 1px solid #d8d8d8;*/
    border: 1px solid #333;
}

th{
    text-align: left !important;
}