#hiddenView{
    display: none;
    margin-left: 40px;
    padding: 5px;
    border-radius: 20px;
    width: 90%;
    height: auto;
    background-color: rgb(221, 219, 219);
    border: 1px solid #d8d8d8;
}

#closeView{
    font-size: large;
    font-weight: bold;
    width: 40px;
    height: 40px;
    margin-left: 90%;
}