#one{
    border: 0px solid;
    background-color: #D9D9D9;
    padding: 50px;
    font-size: 50px;
}
#two{
    border: 1px solid;
    padding: 20px;
    font-size: 15px;
    margin: 3%;
    margin-bottom: 10px;
    margin-top: 10px;
}

#three{
    border: 1px solid;
    padding: 10px;
    font-size: 15px;
    margin: 15%;
    margin-bottom: 10px;
    margin-top: 10px;
}

#four{
    align-items: center;
    justify-content: center;
    border: 0px solid;
    padding: 20px;
    font-size: 15px;
    margin: 3%;
    margin-bottom: 10px;
    margin-top: 10px;
}

#description{
    width: 50%;  /* Full width */
    height: 100px;  /* Height of 300 pixels */
    font-size: 16px;  /* Increase text size */
    padding: 10px;
}

.review {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Full height of the viewport */
    margin: 10px;
}

.rev_item {
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.rev_item li {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.rev_item a {
    display: block;
    padding: 10px;
    border-radius: 7px;
    color: #18A0FB;
    font-size: 1.2em;
    text-decoration: none;
    border: 1px solid #18A0FB;
    width: 100px;

}

.rev_item a:hover{
    width: 100%;
    background-color: rgb(215, 236, 255);    
    color: #18A0FB;
}