* {   
    margin: 0;
    padding: 0;
}

body {
    /*font-family: Arial, sans-serif;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #18A0FB;
}