* {   
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #18A0FB;
}

table {
    padding: 10px 20px 10px 20px;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 5px solid #18A0FB;
}

table th {
    text-align: left;
    font-weight: bold;
    border: 2px solid #18A0FB;
}

table td {
    border: 2px solid #18A0FB;
    padding: 10px;
}