* {   
    margin: 0;
    padding: 0;
}

body {
    /*font-family: Arial, sans-serif;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    width: 100vw;
    height: 100vh;
}

.header {
    text-align: center;
    background-color: #f4f4f4;
    color: #18A0FB;
}

.dashboard {
    padding: 300px 20px 20px 150px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #f4f4f4;
    /*gap: 20px;*/
}

.card {
    height: 200px;
    width: 200px;
    background-color: rgb(235, 235, 235);
    border: 1px solid #18A0FB;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.2);
    background-color: #18A0FB;
    color: white;
}

.card .icon {
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
}

a {
    text-decoration: none;
    color: black;
}