* {   
    margin: 0;
    padding: 0;
}
body{
    width:100vw;
    height: 100vh;
}

.header {
    text-align: center;
    /*background-color: #f4f4f4;*/
    color: #18A0FB;
}

.dashboard {
    padding: 300px 20px 20px 150px;
    height: 100vh;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    /*background-color: #f4f4f4;*/
    /*gap: 20px;*/
}

.card {
    height: 300px;
    width: 300px;
    /*background-color: rgb(235, 235, 235);*/
    /*border: 1px solid #18A0FB;*/
    background-color: #fffefe21;
    border: 1px solid #333;
    color: #333;
    /*border: 1px solid #00ffd5;
    color: white;*/
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    background-color: #18A0FB;
    color: white;
}

.card .icon {
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
}

a {
    text-decoration: none;
    color: black;
}

.bg{
    position: fixed;
    filter: blur(10px);
    z-index: -1;
}