* {   
    margin: 0;
    padding: 0;
}

p {
    padding: 0px 0px 0px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
}

.mainTop{
    display: flex;
    /*background-color: rgb(221, 219, 219);
    background-color: #f4f4f4;
    /*border: 1px solid #00ffd5;*/

    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    margin: 0px 10px 0px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.section{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

form{
    display: flex;
}

form input {
    margin-right: 10px;
    width: 70%;
}

.results{
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    padding: 5px;
    border-radius: 20px;
    width: 90%;
    height: auto;
    /*background-color: rgb(221, 219, 219);
    border: 1px solid #d8d8d8;*/
    background-color: #fffefe21;
    border: 1px solid #00ffd5;
}

#addEmp{
    display: none;
    position: absolute;
    z-index: 100;
    margin-top: 15%;
    margin-left: 20%;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;
    height: auto;
    background-color: white;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
}

#form{
    margin-right: 10px;
    padding-left: 90%;
    margin-bottom: 20px;
    height: auto;
}

#fm{
    width: 70% !important;
    display: block !important;
    margin: 0 auto !important;
    padding: 0px !important;
}

#fm input{
    align-items: flex-end;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 100%;
}

#fm label{
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

#addEmpBtn{
    color:green;
    padding: 10px;
    border: 1px solid #ccc;
    height: auto;
    width: auto;
}

#addEmpBtn:hover{
    color:white;
    background-color: green;
}

#sBtn{
    margin-top: 15px;
}

#addEmpForm{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#results{
    display: none;
}

#errorView{
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 10%;
}