* {   
    margin: 0;
    padding: 0;
}

body {
    /*font-family: 'Segoe UI', 'cursive';*/
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    background-color: #f4f4f4;
    width: 100vw;
    height: 100vh;
    /*background-image: url("../Images/bg.gif");*/
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position:center; /* Centers the image */
    background-repeat: no-repeat; /* No repeating background image */
    background-attachment: fixed; /* The background image will not scroll with the page */
}

h1 {
    padding-top: 10px;
    text-align: center;
    margin: 20px 0;
    color: #18A0FB;
}

/*table styles*/
table {
    padding: 10px 20px 10px 20px;
    width: 70%;
    gap: 6px;
    margin: 20px 50px 20px 50px;
    border-spacing: 10px;
    border-radius: 10px;
    border-collapse: separate;
    
}

table th {
    text-align: center;
    background-color: rgb(154, 211, 230);
    font-size: large;
    font-weight: bold;
    margin: 6px;
    border-radius: 20px;
    border: 1px solid rgba(236, 236, 236, 0.137);
    padding: 20px;
}

table td {
    /*border: 2px solid #18A0FB;*/
    margin: 6px;
    border-radius: 20px;
    border: 1px solid rgba(236, 236, 236, 0.5);
    padding: 15px;
}

table tr:nth-child(even) {
    background-color: #bbbbbb;
}
table tr:nth-child(odd) {
    background-color: #ffffff;
}

table .actions{
    background-color: #1882fb;
}

/*search delete container styles*/
.searchContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form{
    width: auto;
    height: fit-content;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #c6e8ff8e;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

form input {
    padding: 0px 5px 0px 0px;
    font-family: Arial, sans-serif;
    font-size: large;
}

form button{
    font-size: large;
    color: black;
    background-color:#f1c40f;
    cursor: pointer;
    height: 25px;
    width: 80px;
    border: 1px solid #ffae00;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

button{
    font-size: large;
    color: black;
    background-color:#f1c40f;
    cursor: pointer;
    height: 25px;
    width: 80px;
    border: 1px solid #ffae00;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

form button:hover{
    color: white;
    background-color: #ffae00;
    transform: scale(1.1);
}

button:hover{
    color: white;
    background-color: #ffae00;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.bg{
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("../Images/bg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: fixed;
    filter: blur(5px);
    z-index: -1;
}